@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #f6f9fc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
